.fila-corte {
    margin: 5px 0px
}

.label-corte {
    font-weight: 500;
    margin: 0px 10px;
}

.dato-corte {
    margin: 0px 10px;
}

.acciones-corte {
    text-align: center;
    margin: 10px;
}
