/* Botones */
#eliminar-corte {
    background-color: var(--color-eliminar);
    color: var(--color-texto-blanco)
}

#modificar-corte {
    background-color: var(--color-modificar);
    color: var(--color-texto-blanco);
}

#cortes-partido {
    background-color: white;
    color: var(--color-texto-negro);
}

.acciones {
    margin-bottom: 30px;
}

/* Listado de cortes */
.subtitulo-valorada {
    color: var(--color-texto-negro);
}
