<div>

    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
         <mat-icon>menu</mat-icon>
       </button>
       <span>Lacuca Zone</span>
       
       <span class="spacer"></span>
       
       <button class="btn btn-outline-light" (click)="logOut()">Cerrar sesión</button>

     </mat-toolbar>

    <div fxLayout="row">
        <div class="sidebar" fxFlex="15">
            <li *ngFor="let itemSidebar of vItemsSidebar" class="nav-item m-3">
                <span class="nav-link item-sidebar" [routerLink]="itemSidebar.path"
                    *ngIf="mostrarOpcion(itemSidebar)" routerLinkActive="item-sidebar-selected">
                    <i class="font-awesome-icon" [ngClass]="getClass(itemSidebar)"></i>
                    {{ itemSidebar.nombre }}
                </span>
    
            </li>
        </div>

        <div class="content p-3" fxFlex="85">
            <router-outlet></router-outlet>
        </div>




        <!-- <mat-drawer-container class="mat-drawer-container">
            <mat-drawer class="mat-drawer" mode="side" opened>

                <ul class="nav nav-pills flex-column mb-auto">

                    <li *ngFor="let itemSidebar of vItemsSidebar" class="nav-item mt-3">
                        <span class="nav-link item-sidebar" [routerLink]="itemSidebar.path"
                            *ngIf="mostrarOpcion(itemSidebar)" routerLinkActive="item-sidebar-selected">
                            <i class="font-awesome-icon" [ngClass]="getClass(itemSidebar)"></i>
                            {{ itemSidebar.nombre }}
                        </span>

                    </li>

                </ul>
            </mat-drawer>

            <mat-drawer-content class="p-3">


            </mat-drawer-content>

        </mat-drawer-container> -->
    </div>

</div>