<mat-toolbar class="toolbar-header" fxShow="false" fxShow.sm="true" fxShow.xs="true">
    <button mat-icon-button (click)="sidenav.toggle()" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    Header
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" opened class="my-sidebar" fixedInViewport="false">

        <li *ngFor="let itemSidebar of vItemsSidebar" class="sidenav-item nav-item">
            <span class="nav-link item-sidebar p-3" [routerLink]="itemSidebar.path" *ngIf="mostrarOpcion(itemSidebar)"
                routerLinkActive="item-sidebar-selected">
                <i class="font-awesome-icon" [ngClass]="getClass(itemSidebar)"></i>
                <span class="nombre-item-sidebar">{{ itemSidebar.nombre }}</span>
            </span>
        </li>

        <div class="logout-container">
            
            <button mat-button class="m-3" [matMenuTriggerFor]="menu">Opciones usuario</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item class="bsidenav">Mis datos</button>
                <button mat-menu-item class="bsidenav" (click)="logOut()">Cerrar sesión</button>
            </mat-menu>
        </div>
        
    </mat-sidenav>

    <mat-sidenav-content>

        <div class="content-dashboard p-3">
            <router-outlet></router-outlet>
        </div>


    </mat-sidenav-content>
</mat-sidenav-container>