<div class="container">

    <div class="header mt-2 mb-5" fxLayout="row">
        <span class="titulo">Registrar nuevo partido</span>
        
    </div>
    
    <div class="caja-contenido pl-3 pr-3">
        <form [formGroup]="formNuevoVideo" (submit)="registrarNuevoPartido()">
            
            <div fxLayout="row wrap">
                
                <div fxFlex="49" fxFlex.sm="100" fxFlex.xs="100">
                    <mat-form-field class="w-100 p-2" appearance="fill">
                        <mat-label>Equipo local</mat-label>
                        <input matInput formControlName="equipoLocal">
                    </mat-form-field>
                </div>
                
                <div fxFlex="2" fxShow.sm="false" fxShow.xs="false" class="text-center guion"> - </div>
                
                <div fxFlex="49" fxFlex.sm="100" fxFlex.xs="100">
                    <mat-form-field class="w-100 p-2" appearance="fill">
                        <mat-label>Equipo visitante</mat-label>
                        <input matInput formControlName="equipoVisitante">
                    </mat-form-field>
                </div>
                
            </div>
            
            <div fxLayout="row wrap">
                
                <div fxFlex="40" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100">
                    
                    <mat-form-field class="w-100 p-2" appearance="fill">
                        <mat-label>Localidad</mat-label>
                        <input matInput formControlName="localidad">
                    </mat-form-field>
                    
                </div>

                <div fxFlex="20" fxFlex.md="30" fxFlex.sm="100" fxFlex.xs="100">
                    <mat-form-field class="w-100 p-2" appearance="fill">
                        <mat-label>Fecha</mat-label>
                        <!-- #docregion toggle -->
                        <input matInput [matDatepicker]="picker" formControlName="fecha">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <!-- #enddocregion toggle -->
                    </mat-form-field>
                </div>
                
                <div fxFlex="20" fxFlex.md="40" fxFlex.sm="100" fxFlex.xs="100">
                    
                    <mat-form-field class="w-100 p-2" appearance="fill">
                        <mat-label>Fase</mat-label>
                        <input matInput formControlName="fase">
                    </mat-form-field>
                    
                </div>
                
                <div fxFlex="20" fxFlex.md="30" fxFlex.sm="100" fxFlex.xs="100">
                    
                    <mat-form-field class="w-100 p-2" appearance="fill">
                        <mat-label>Jornada</mat-label>
                        <input type="number" matInput formControlName="jornada">
                    </mat-form-field>
                    
                </div>
                
                
            </div>
            
            <div fxLayout="row">
                
                <mat-form-field class="w-100 p-2" appearance="fill">
                    <mat-label>Enlace del partido</mat-label>
                    <input matInput formControlName="url">
                </mat-form-field>
                
            </div>

            <div fxLayout="row wrap">

                <h3 fxFlex="100">Otros datos</h3>

                <div fxFlex="100">
                    
                    <mat-form-field class="w-100 p-2" appearance="fill">
                        <mat-label>Otros datos de interés</mat-label>
                        <textarea matInput formControlName="comentario"></textarea>
                    </mat-form-field>
                    
                </div>
                

            </div>

        
            
            <div class="text-end mt-3 pe-2">
                <button mat-raised-button color="primary" class="m-1" (click)="volver()">Volver</button>
                <button mat-raised-button type="submit" class="m-1">Guardar partido</button>
            </div>
            
        </form>
        
    </div>
    
</div>