<div class="container">

    <div class="header mt-2 mb-5" fxLayout="row">
        <span class="titulo">Registrar nuevo partido</span>

        <span class="spacer"></span>

        <div>
            <button class="btn btn-outline-light mt-3" (click)="volver()">
                Volver
            </button>
        </div>
        
    </div>

    <div class="caja-contenido p-5">
        <form>

            <div >
                    
                    <div fxLayout="row wrap" class="input-group mb-3">
                        <!-- Equipo local -->
                        <input type="text" class="form-control" placeholder="Equipo local" aria-label="Username">

                        <span class="input-group-text">-</span>

                        <!-- Equipo visitante -->
                        <input type="text" class="form-control" placeholder="Equipo visitante" aria-label="Server">
                    </div>

            </div>

        </form>

    </div>

</div>
