<div class="card">
    <div class="card-header">
        <h1 class="p-2 text-center">Test</h1>
    </div>
    <div class="card-body">

        <div class="mensaje-acertadas m-4 text-center">
            {{ mensajeNumeroAciertos }}
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let item of vMisRespuestas; index as i">

                <app-item-pregunta-con-solucion [item]="item" [numeroPregunta]="i+1"></app-item-pregunta-con-solucion>

            </li>
        </ul>

        <div class="botonera-inferior text-center mt-4">
            <button class="btn btn-outline-dark m-3" (click)="terminarTest()">Terminar test</button>
            <button class="btn btn-outline-dark m-3" (click)="verMisResultados()">Ver mis resultados</button>
            <button class="btn btn-outline-dark m-3" (click)="realizarOtroTest()">Realizar otro test</button>
        </div>

    </div>
</div>