<div>

    <div class="header" fxLayout="row" fxLayout.xs="column">
        <div class="titulo">Listado de partidos</div>    
    </div>

    <div class="m-2" class="content-botones" fxLayoutAlign="end" *ngIf="!cargandoListado">
        <button mat-button (click)="irComponenteCSV()"> Registrar partidos mediante CSV </button>
        <button mat-button (click)="registrarPartido()"> Registrar nuevo partido </button>
    </div>

    <app-spinner-cargando *ngIf="cargandoListado"></app-spinner-cargando>

    <div class="no-hay-videos text-center m-2" *ngIf="!cargandoListado && listadoPartidos.length === 0">
        No hay videos registrados
    </div>

    <div class="w-100" *ngIf="!cargandoListado && listadoPartidos.length !== 0">
        <app-listado-datos-partido class="w-100" [listadoPartidos]="listadoPartidos"></app-listado-datos-partido>
    </div>
    

</div>