.contenedor {
    margin-top: 40px;
}

.etiqueta {
    font-weight: 900;
    text-align: right;
}

.datos {
    text-align: left;
}

.etiqueta, .datos {
    margin: 10px;
    font-size: 11pt;
}

.no-grupo {
    font-style: italic;
}

.boton-volver {
    background-color: var(--color-texto-negro);
    color: var(--color-texto-blanco);
}