<div fxLayout="column" class="datos-container">

    <app-spinner-cargando *ngIf="cargando"></app-spinner-cargando>

    <div class="titulo" *ngIf="!cargando">
        Datos del partido
    </div>

    <!-- Cuadro con los datos del partido -->
    <mat-card *ngIf="!cargando">

        <mat-card-content fxLayout="row wrap">
            
            <app-data-partido [datosPartido]="datosPartido"></app-data-partido>

            <!-- Listado con los cortes -->
            <h3 class="subtitulo" *ngIf="!cargando">Listado de cortes</h3>

            <div *ngIf="listadoCortes.length === 0 && !cargando" fxFlexAlign="center" fxFlex="100" fxLayoutAlign="center">
                No hay cortes asociados a este partido.
            </div>

            <div *ngIf="listadoCortes.length !== 0 && !cargando" fxFlex="100">
                <app-listado-cortes [listadoCortes]="listadoCortes"></app-listado-cortes>
            </div>

        </mat-card-content>

        <mat-divider inset></mat-divider>

        <mat-card-actions fxLayout.xs="column" fxLayoutAlign="end" fxLayoutAlign.xs="center">
            <button mat-button color="warn" (click)="eliminarPartido()">Eliminar partido</button>
            <button mat-button (click)="modificarPartido()">Modificar partido</button>
            <a mat-button [href]="urlVideoPartido()" target="_blank">Video del partido</a>
            <button mat-button (click)="generarNuevoCorte()">Generar nuevo corte</button>
        </mat-card-actions>

    </mat-card>



</div>