<div fxLayout="column" class="datos-container">

    <h2 class="titulo m-5">Datos del partido</h2>

    <div *ngIf="cargando" class="cargando">
        <div class="d-flex justify-content-center m-3">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>

    <div class="info-content" *ngIf="!cargando" fxLayout="row wrap">

        <!-- Equipo local -->
        <div fxFlex="20" fxLayoutAlign.xs="start" fxFlex.sm="25" fxFlex.xs="100"
            class="etiqueta m-2 mb-4">
            Equipo local:
        </div>

        <div fxFlex="75" fxFlex.xs="100" fxFlex.sm="65"
            class="m-2 mb-4 info-partido">
            {{ datosPartido.equipoLocal | uppercase }}
        </div>
        
        <!-- Equipo visitante -->
        <div fxFlex="20" fxLayoutAlign.xs="start" fxFlex.sm="25" fxFlex.xs="100"
            class="etiqueta m-2 mb-4">
            Equipo visitante:
        </div>
        
        
        <div fxFlex="75" fxFlex.xs="100" fxFlex.sm="65"
            class="m-2 mb-4 info-partido">
            {{ datosPartido.equipoVisitante | uppercase }}
        </div>
        
        <!-- Fecha -->
        <div fxFlex="20" fxLayoutAlign.xs="start" fxFlex.sm="25" fxFlex.xs="100"
            class="etiqueta m-2 mb-4">
            Fecha:
        </div>
        

        <div fxFlex="20" fxFlex.xs="100" fxFlex.sm="65"
            class="m-2 mb-4 info-partido">
            {{ datosPartido.fechaHora | date:'dd/MM/yyyy' }}
        </div>

        <!-- Localidad -->
        <div fxFlex="20" fxLayoutAlign.xs="start" fxFlex.sm="35" fxFlex.xs="100" fxFlex.sm="25"
            class="etiqueta m-2 mb-4">
            Localidad:
        </div>
        

        <div fxFlex="20" fxFlex.xs="100" fxFlex.sm="65"
            class="m-2 mb-4 info-partido">
            {{ datosPartido.localidad | uppercase }}
        </div>

         <!-- Fase -->
         <div fxFlex="20" fxLayoutAlign.xs="start" fxFlex.sm="35" fxFlex.xs="100" fxFlex.sm="25"
            class="etiqueta m-2 mb-4">
            Fase:
        </div>
        

        <div fxFlex="20" fxFlex.sm="35" fxFlex.xs="100" fxFlex.sm="65"
            class="m-2 mb-4 info-partido">
            {{ datosPartido.fase }}
        </div>

        <!-- Jornada -->
        <div fxFlex="20" fxLayoutAlign.xs="start" fxFlex.sm="25" fxFlex.xs="100"
            class="etiqueta m-2 mb-4">
            Jornada:
        </div>
        

        <div fxFlex="20" fxFlex.sm="65" fxFlex.xs="100"
            class="m-2 mb-4 info-partido">
            {{ datosPartido.jornada }}
        </div>

        <!-- Otros comentarios -->
        <div fxFlex="20" fxLayoutAlign.xs="start" fxFlex.sm="25" fxFlex.xs="100"
            class="etiqueta m-2 mb-4" *ngIf="datosPartido.comentario !== ''">
            Otros datos:
        </div>
        
        <div fxFlex="70" fxFlex.xs="100" fxFlex.sm="65"
            class="m-2 mb-4 info-partido" *ngIf="datosPartido.comentario !== ''">
            {{ datosPartido.comentario }}
        </div>
        
        
    </div>
    
    <div *ngIf="!cargando" fxFlex="100" fxLayout.sm="row wrap" fxLayoutAlign.sm="center" fxLayout.xs="row wrap" class="acciones text-end">
        <button id="eliminar-partido" (click)="eliminarPartido()"
            fxFlex.xs="100" fxFlex.sm="45" mat-raised-button class="m-1">Eliminar partido</button>
        <button id="modificar-partido" (click)="modificarPartido()"
            fxFlex.xs="100" fxFlex.sm="45" mat-raised-button class="m-1">Modificar datos</button>
        <a id="ver-video-partido" [href]="urlVideoPartido()" target="_blank"
            fxFlex.xs="100" fxFlex.sm="45" mat-raised-button class="m-1">
            Video del partido
        </a>
        <button id="cortes-partido" (click)="cortesPartido()"
            fxFlex.xs="100" fxFlex.sm="45" mat-raised-button class="m-1">Cortes del partido</button>
    </div>

</div>