
<div class="listado-videotest">

    <div class="titulo">
        Listado de videotests
    </div>

    <app-spinner-cargando *ngIf="cargandoVideotests"></app-spinner-cargando>

    <div>

        <div class="m-2" *ngIf="!cargandoCortes" class="content-botones" fxLayoutAlign="end">
            <button mat-button (click)="registrarNuevoVideotest()"> Registrar nuevo videotest </button>
        </div>

        <div *ngIf="!cargandoVideotests">
            <app-listado-videotests [listadoVideotests]="listadoVideotest"></app-listado-videotests>
        </div>

    </div>


</div>