
<div class="listado-videotest">

    <mat-card>

        <mat-card-title>Listado de Videotest</mat-card-title>

        <mat-card-content>
            <!-- <app-spinner-cargando *ngIf="cargandoVideotests"></app-spinner-cargando> -->

        </mat-card-content>

        <mat-divider inset></mat-divider>

        <mat-card-actions>
            <button mat-button>Generar nuevo videotest</button>
        </mat-card-actions>
    </mat-card>

</div>

<div class="listado-cortes">

    <mat-card>

        <mat-card-title>Listado de Cortes disponibles</mat-card-title>

        <mat-card-content>
            <app-spinner-cargando *ngIf="cargandoCortes"></app-spinner-cargando>

            <div *ngIf="!cargandoCortes && listadoCortes.length !== 0">
                <app-listado-cortes [listadoCortes]="listadoCortes"></app-listado-cortes>
            </div>

            <div *ngIf="!cargandoCortes && listadoCortes.length === 0">
                No hay cortes disponibles
            </div>

        </mat-card-content>

        <mat-divider inset></mat-divider>

        <mat-card-actions>
            <button mat-button>Generar nuevo corte</button>
        </mat-card-actions>
    </mat-card>

</div>