<div class="card">
    <div class="card-header">
      <h1 class="p-2 text-center">Zona test</h1>
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0 p-2">
        
        <p>Elige el test que quieras realizar:</p>
        <div class="text-center">
            <button class="btn btn-primary m-2" (click)="generarTest(1)">Pregunta aleatoria</button>
            <button class="btn btn-primary m-2" (click)="generarTest(3)">Test de 3 preguntas</button>
            <button class="btn btn-primary m-2" (click)="generarTest(5)">Test de 5 preguntas</button>
            <button class="btn btn-primary m-2" (click)="generarTest(10)">Test de 10 preguntas</button>
            <button class="btn btn-primary m-2" (click)="generarTest(25)">Test de 25 preguntas</button>
        </div>
      </blockquote>
    </div>
  </div>