<div class="container-fluid">
  <div class="row mt-4">
      <!-- Espacio lateral -->
      <div class="col"></div>

      <div class="col-sm-8 col-md-6 col-lg-4 col-12">
          <div class="card text-center p-3">

              <div class="card-body">
                  <h2 class="card-title mt-2">Modificar contraseña</h2>

                  <h6 class="card-subtitle mt-4 text-muted">Introduce los siguientes datos:</h6>

                  <!-- Formulario -->
                  <form autocomplete="off" [formGroup]="registerForm" (submit)="onSubmit()">
                      <!-- Contraseña antigua -->
                      <div class="form-floating mb-3">
                          <input type="text" class="form-control" id="oldPassword" formControlName="oldPassword"
                              placeholder="Contraseña anterior">
                          <label for="oldPassword">Contraseña anterior</label>
                      </div>
                      <!-- Password 1 -->
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="newPassword" formControlName="newPassword"
                            placeholder="Nueva contraseña">
                        <label for="newPassword">Nueva contraseña</label>
                    </div>

                    <!-- Password 2 -->
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="newPassword2" formControlName="newPassword2"
                          placeholder="Repita la nueva contraseña">
                      <label for="newPassword2">Repita la nueva contraseña</label>
                  </div>

                      
                      
                      <div class="d-grid gap-2 mt-3">
                          <button id="registrar-usuario" type="submit" class="btn btn-primary" [disabled]="registrando">
                              <span class="spinner-border spinner-border-sm" *ngIf="registrando" role="status" aria-hidden="true"></span>
                              Cambiar contraseña
                          </button>
                      </div>

                  </form>
              </div>



          </div>
      </div>

      <!-- Espacio lateral -->
      <div class="col"></div>

  </div>
</div>
