<div>

    <div class="header" fxLayout="row" fxLayout.xs="column">
        <div class="titulo">Informes</div>
    </div>

    <app-spinner-cargando *ngIf="!cargadosTodosLosDatos()"></app-spinner-cargando>


    <div class="listado-completo-informes" *ngIf="cargadosTodosLosDatos()">
        <div class="subtitulo">
            Mis informes
        </div>
    
        <div class="w-100">
            <app-listado-informes 
                [listadoInformes]="listadoMisInformes"
                [msgNoHayInformes]="msgMisInformesSinAsignar"></app-listado-informes>
        </div>
    </div>

    <div class="listado-completo-informes" *ngIf="mostrarTablaCompleta()">

        <div class="subtitulo">
            Listado completo de informes
        </div>
    
        <div class="w-100" *ngIf="mostrarTablaCompleta()">
            <app-listado-informes [listadoInformes]="listadoInformes"></app-listado-informes>
        </div>
    
        <div class="m-2" class="content-botones" fxLayoutAlign="end">
            <button mat-raised-button (click)="registrarInforme()"> Registrar nuevo informe </button>
        </div>
    
    </div>

</div>