<div>

    <div class="titulo">
        Usuarios
    </div>

    <div *ngIf="cargandoUsuarios">
        <app-spinner-cargando></app-spinner-cargando>
    </div>

    <div>
        <div class="m-2" class="content-botones" fxLayoutAlign="end">
            <button mat-button (click)="registrarListadoUsuarios()"> Registrar usuarios mediante CSV </button>
            <button mat-button disabled (click)="registrarUsuario()"> Registrar nuevo usuario </button>
        </div>
    
        <div class="tabla-usuarios w-100 mat-elevation-z2" *ngIf="!cargandoUsuarios">
            <app-data-usuarios [listadoUsuarios]="listadoUsuarios"></app-data-usuarios>
        </div>
    
        <div class="subtitulo">
            Grupos de usuarios
        </div>
    
        <div class="m-2" class="content-botones" fxLayoutAlign="end">
            <button mat-button (click)="registrarGrupo()"> Registrar grupo </button>
        </div>

        
    </div>
    

</div>
