
.content-info {
    background-color: white;
    border-radius: 3px;
    box-shadow: 2px 2px 5px var(--color-texto-negro-transparente);
    margin: 30px 0px;
    padding: 10px;
}

.descripcion-info {
    padding: 10px 5px 20px 5px;
}

.content-buttons {
    margin-top: 10px;
}

.boton-stepper {
    background-color: var(--color-texto-negro);
    color: var(--color-texto-blanco)
}

.textarea-container{
    margin: 25px 10px 0px 10px;
}

.input-select {
    max-width: 300px !important;
    margin-top: 20px;
}

.content-botones {
    background-color: white;
    border-radius: 3px;
    box-shadow: 2px 2px 5px var(--color-texto-negro-transparente);
    margin: 15px;
    padding: 10px;
}