.container-zona-tests {
    color: var(--color-texto-negro);
}

.seleccion-preguntas {
    border: 1px solid var(--color-texto-negro-transparente);
    border-radius: 3px;
    box-shadow: 1px 1px 5px var(--color-texto-negro-transparente);
    background-color: white;
    padding: 20px 0px 20px 0px;
}

.label-respuesta {
    white-space: normal;
}