<div class="container-zona-tests m-3">
    <div class="titulo"> {{ vPreguntas.length > 1 ? 'Test teórico' : 'Pregunta rápida' }} </div>

    <div class="seleccion-preguntas p-4">

        <app-spinner-cargando *ngIf="obteniendoPreguntas"></app-spinner-cargando>

        <form [formGroup]="formTest" (submit)="enviarTest()" *ngIf="!obteniendoPreguntas">

            <mat-radio-group *ngFor="let pregunta of vPreguntas; index as i" [formControlName]="getFormControlName(i+1)"
                class="mb-4 rg-pregunta" aria-label="Seleciona una opción" fxLayout="column">
                <b>{{ (i+1) }}) {{ pregunta.texto }}</b>

                <mat-radio-button class="mt-3 rb-respuesta" style="white-space: normal !important"
                    *ngFor="let respuesta of pregunta.respuestas; index as j" [value]="respuesta"
                    [id]="getIdRespuesta(i+1, j+1)">
                    <span class="label-respuesta">{{ respuesta }}</span>
                </mat-radio-button>
            </mat-radio-group>


            <div class="botones text-center mt-4" *ngIf="!obteniendoPreguntas">
                <button mat-raised-button color="basic" 
                    [disabled]="this.formTest.invalid" 
                    type="submit">
                    Enviar test
                </button>
            </div>
            
        </form>

    </div>

</div>