<div class="card">
    <div class="card-header">
        <h1 class="p-2 text-center">Test</h1>
    </div>
    <div class="card-body">
        <form [formGroup]="formTest" (ngSubmit)="enviarTest()">

            <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngFor="let pregunta of vPreguntas; index as i">
                    <!-- <app-item-pregunta [pregunta]="pregunta" [numeroPregunta]="i+1"></app-item-pregunta> -->

                    <div class="mt-2">
                        <b>{{ (i+1) }}) {{ pregunta.texto }}</b>
                    
                        <div class="m-2">
                    
                            <div class="form-check">
                                <input class="form-check-input" type="radio" [id]="getIdRespuesta(i+1, 1)" [value]="pregunta.respuesta1"
                                    [formControlName]="getFormControlName(i+1)">
                                <label class="form-check-label" for="respuesta1">
                                    {{ pregunta.respuesta1 }}
                                </label>
                            </div>
                    
                            <div class="form-check">
                                <input class="form-check-input" type="radio" [id]="getIdRespuesta(i+1, 2)" [value]="pregunta.respuesta2"
                                    [formControlName]="getFormControlName(i+1)">
                                <label class="form-check-label" for="respuesta2">
                                    {{ pregunta.respuesta2 }}
                                </label>
                            </div>
                    
                            <div class="form-check">
                                <input class="form-check-input" type="radio" [id]="getIdRespuesta(i+1, 3)" [value]="pregunta.respuesta3"
                                    [formControlName]="getFormControlName(i+1)">
                                <label class="form-check-label" for="respuesta3">
                                    {{ pregunta.respuesta3 }}
                                </label>
                            </div>
                    
                        </div>
                    
                    </div>
                </li>
            </ul>
            
            <div class="p-2 text-center">
                <button class="btn btn-primary" [disabled]="this.formTest.invalid" type="submit">Enviar test</button>
            </div>

        </form>


    </div>
</div>