/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    /* background-color: #333333; */
}

body, html {
    height: 100%;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
}

* {
    font-family: 'Open Sans', sans-serif;
}

.spacer {
    flex: 1 1 auto;
}

.titulo, .subtitulo, .segundo-subtitulo {
    margin: 30px;
    text-shadow: 1px 1px 1px var(--color-texto-negro-transparente);
}

.titulo {
    text-align: left;
    font-family: 'Public Sans', sans-serif;
    font-weight: bold;
    font-size: 30pt;
    color: var(--color-texto-negro);
    text-shadow: 0px 3px 2px var(--color-texto-negro-transparente);
}

.subtitulo {
    font-size: 25pt;
}

.segundo-subtitulo {
    font-size: 18pt;
}

ol {
    counter-reset: list;
}

ol>li {
    list-style: none;
}

ol>li:before {
    content: counter(list, lower-alpha) ") ";
    counter-increment: list;
}

@media screen and (max-width: 599px) {
    .titulo {
        font-size: 25pt;
    }

    .subtitulo {
        font-size: 22pt;
    }

    .titulo, .subtitulo {
        margin: 30px 10px;
    }
}

:root {
    --color-texto-blanco-hover: #d6cece;
    --color-texto-blanco: #efefef;
    --color-texto-blanco-transparente: #efefef80;

    --color-texto-negro: #313131;
    --color-texto-negro-transparente: #31313180;

    --color-gris-transparente: #31313131;
    --color-gris-claro-transparente: #31313106;

    --color-fondo-header: #313131;
    --color-fondo-sidebar: #4d4d4d;
    --color-fondo-body: #fafffa;

    --color-eliminar: #990000;
    --color-modificar: #282800;
    --color-ver-video: #265526;
    --color-cortes: #efefef;

    --color-error: #f44336;
    --color-acierto: #005000;
}