/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    /* background-color: #333333; */
}

body, html {
    height: 100%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spacer {
    flex: 1 1 auto;
}

:root {
    --color-texto-blanco-hover: #d6cece;
    --color-texto-blanco: #efefef;
    --color-texto-blanco-transparente: #efefef80;
    
    --color-texto-negro: #313131;
    --color-texto-negro-transparente: #31313180;


    --color-fondo-header: #313131;
    --color-fondo-sidebar: #4d4d4d;
    --color-fondo-body: #fafffa;

    --color-eliminar: #990000;
    --color-modificar: #282800;
    --color-ver-video: #42a242;
    --color-cortes:  #efefef;
}