<div>

    <div class="header mt-2 mb-5" fxLayout="row" fxLayout.xs="column">
        <span class="titulo">Zona videos</span>

        <span fxShow.xs="false" class="spacer"></span>

        <div class="m-2" fxLayoutAlign.xs="end">
            <button mat-raised-button color="basic" (click)="registrarPartido()">
                Registrar nuevo partido
            </button>
        </div>

    </div>

    <div class="d-flex justify-content-center" *ngIf="cargandoListado">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <div class="no-hay-videos text-center m-2" *ngIf="!cargandoListado && listadoPartidos.length === 0">
        No hay videos registrados
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="left" fxLayoutAlign.sm="center"
        fxLayoutAlign.xs="center"
        *ngIf="!cargandoListado && listadoPartidos.length !== 0">

        <div class="item-video m-1" fxFlex="31" fxFlex.md="48" fxFlex.sm="48" fxFlex.xs="100"
            *ngFor="let video of listadoPartidos">
            <app-video-card [datosVideo]="video" (videoBorrado)="eliminarPartido($event)"></app-video-card>
        </div>

    </div>

</div>