<div class="container">

    <div class="header mt-2 mb-5" fxLayout="row">
        <span class="titulo">Zona videos</span>

        <span class="spacer"></span>

        <div>
            <button class="btn btn-outline-light p-3" (click)="registrarPartido()">
                Registrar nuevo partido
            </button>
        </div>
        
    </div>

    <div class="caja-contenido">

        <div class="no-hay-videos text-center m-5">
            No hay videos registrados
        </div>

    </div>

</div>
