<div class="info-content" fxLayout="row wrap">

    <!-- Equipo local -->
    <div fxFlex="20" fxLayoutAlign.xs="start" fxFlex.sm="25" fxFlex.xs="100"
        class="etiqueta">
        Equipo local:
    </div>

    <div fxFlex="70" fxFlex.xs="100" fxFlex.sm="65"
        class="info-partido" *ngIf="datosPartido">
        {{ datosPartido.equipoLocal | uppercase }}
    </div>
    
    <!-- Equipo visitante -->
    <div fxFlex="20" fxLayoutAlign.xs="start" fxFlex.sm="25" fxFlex.xs="100"
        class="etiqueta">
        Equipo visitante:
    </div>
    
    
    <div fxFlex="70" fxFlex.xs="100" fxFlex.sm="65"
        class="info-partido" *ngIf="datosPartido">
        {{ datosPartido.equipoVisitante | uppercase }}
    </div>
    
    <!-- Fecha -->
    <div fxFlex="20" fxLayoutAlign.xs="start" fxFlex.sm="25" fxFlex.xs="100"
        class="etiqueta">
        Fecha:
    </div>
    

    <div fxFlex="20" fxFlex.xs="100" fxFlex.sm="65"
        class="info-partido" *ngIf="datosPartido">
        {{ datosPartido.fechaHora | date:'dd/MM/yyyy' }}
    </div>

    <!-- Localidad -->
    <div fxFlex="20" fxLayoutAlign.xs="start" fxFlex.sm="35" fxFlex.xs="100" fxFlex.sm="25"
        class="etiqueta">
        Localidad:
    </div>
    

    <div fxFlex="20" fxFlex.xs="100" fxFlex.sm="65"
        class="info-partido" *ngIf="datosPartido">
        {{ datosPartido.localidad | uppercase }}
    </div>

     <!-- Fase -->
     <div fxFlex="20" fxLayoutAlign.xs="start" fxFlex.sm="35" fxFlex.xs="100" fxFlex.sm="25"
        class="etiqueta">
        Fase:
    </div>
    

    <div fxFlex="20" fxFlex.sm="35" fxFlex.xs="100" fxFlex.sm="65"
        class="info-partido" *ngIf="datosPartido">
        {{ datosPartido.fase }}
    </div>

    <!-- Jornada -->
    <div fxFlex="20" fxLayoutAlign.xs="start" fxFlex.sm="25" fxFlex.xs="100"
        class="etiqueta">
        Jornada:
    </div>
    

    <div fxFlex="20" fxFlex.sm="65" fxFlex.xs="100"
        class="info-partido" *ngIf="datosPartido">
        {{ datosPartido.jornada }}
    </div>

    <!-- Otros comentarios -->
    <div fxFlex="20" fxLayoutAlign.xs="start" fxFlex.sm="25" fxFlex.xs="100"
        class="etiqueta" *ngIf="datosPartido && datosPartido.comentario !== ''">
        Otros datos:
    </div>
    
    <div fxFlex="70" fxFlex.xs="100" fxFlex.sm="65"
        class="info-partido" *ngIf="datosPartido && datosPartido.comentario !== ''">
        {{ datosPartido.comentario }}
    </div>
    
    
</div>
